<app-navigation></app-navigation>
<div class="home container-fluid">
  <div class="overlay">
    <section class="her-wrap js-fullheight " data-section="home" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
          data-scrollax-parent="true">
          <div class="content col-md-6">
            <div class="subh">
              <span class="subheading">Welcome to PCMHR Platform!</span>
              <h1 class="mb-4">PCMHR</h1>
              <h2 class="mb-4">The Future of Healthcare.</h2>
              <figure class="text-start">
                <blockquote class="blockquote">
                  <p>A patient centric and patient driven, decentralised approach to health care records.</p>
                </blockquote>
                <!-- <figcaption class="blockquote-footer">
                  Steve Jobs.
                </figcaption> -->
              </figure>
              <p class="mb-4"> </p>
              <p><a href="#appointment" class="btn btn-primary py-3 px-4 rounded-pill">Book Now</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  
</div>
